@font-face {
  font-family: main-font;
  src: url(res/fonts/OpenSans-Regular.ttf);
}
:root {
  --bg-post-25: rgb(25,25,25);
  --clr-45: rgb(45,45,45);
  --clr-66:rgb(66,66,66);
  --main-font-clr: white;
  --highlighted:rgb(240,240,50);
  --body-bg:linear-gradient(to top, rgb(42, 75, 64) -380%, rgb(22,22,22));
}

body, html {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100vh;
  background: var(--body-bg);
  background-repeat: no-repeat;
}

* {
  font-family: main-font, sans-serif;
}

.App {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
  max-height: 100vh;
}
.App > * {
  max-height: 100vh;
}

.full-collapse {
  visibility: collapse;
  max-width: 0 !important;
  max-height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

#not-header {
  translate: 0 -70px;
  display: flex;
  max-height: 100vh;
}

textarea {
  resize: none;
}

.content-page {
  max-height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 4rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-page .see-more-btn {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border: none;
  background-color: var(--clr-66);
  color: var(--main-font-clr);
  border-radius: 15px;
  border: 1.2px solid black;
  width: 100px;
  min-height: 30px !important;
}
.content-page #delete-cookie {
  margin: 0;
}

.content-page::-webkit-scrollbar {
  width: 0.5rem;
}

.content-page::-webkit-scrollbar-track {
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem;
  background: transparent;
}

.content-page::-webkit-scrollbar-thumb {
  background-color: rgb(77, 77, 77);
  height: 10%;
  border-radius: 100vw;
}

.post-frame {
  margin: 1rem 0;
  background: var(--bg-post-25);
  border-radius: 6px;
  width: 85%;
  max-width: 800px;
  padding: 1rem;
  border: 1px solid var(--clr-45);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-frame img {
  max-height: 600px;
  max-width: 100%;
}

.post-top {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.post-top h1 {
  flex-grow: 1;
  padding-top: 1.2rem;
  text-align: center;
  font-size: 120%;
  color: var(--main-font-clr);
}
.post-top p {
  position: absolute;
  top: -0.8rem;
  left: 0;
  color: var(--main-font-clr);
  opacity: 0.55;
  font-size: 70%;
}

.post-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
}
.post-bottom .left {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
}
.post-bottom .left img {
  margin-left: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: whitesmoke;
  margin-right: 1rem;
}
.post-bottom .left p {
  color: var(--main-font-clr);
}
.post-bottom .right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
}
.post-bottom .right img {
  height: 45%;
  rotate: 180deg;
  margin-right: 0.4rem;
}
.post-bottom .right p {
  color: var(--main-font-clr);
}

.sidebar {
  top: 0;
  height: 100vh;
  max-height: 100vh;
  min-width: 170px;
  width: 35vw;
  max-width: 350px;
  background-color: var(--bg-post-25);
  z-index: 11;
  border-right: 1px solid rgb(45, 45, 45);
}
.sidebar h {
  font-size: 130%;
  color: var(--main-font-clr);
}
.sidebar ul {
  padding: 0;
  border-bottom: 1px solid grey;
}
.sidebar li {
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  border-top: 1px solid grey;
  position: relative;
  cursor: pointer;
}
.sidebar li .list-link {
  text-decoration: none;
  display: block;
  color: var(--main-font-clr);
  margin: 0;
  padding: 0.75rem;
}
.sidebar li .list-link:hover {
  background-color: var(c25);
  text-decoration: underline;
}
.sidebar li .cover-links {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  color: var(--main-font-clr);
  background-color: var(--clr-45);
  transition: 111ms;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar li .cover-links:hover {
  opacity: 1;
}
.sidebar li .cover-links p {
  align-self: center;
  margin: 0;
}

#kek {
  opacity: 0.3;
  position: absolute;
}

.sidebar-profilebox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 0;
}

.login-link {
  max-height: 22px;
  text-decoration: none;
  display: block;
  color: var(--main-font-clr);
  margin: 0;
  padding: 0.75rem 1.25rem;
  border: 2px solid var(--clr-66);
  border-radius: 6px;
  background-color: var(--bg-post-25);
}
.login-link:hover {
  border-color: var(--main-font-clr);
}

.profilebox-container {
  background-color: var(--clr-66);
  padding: 0 0.5rem;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  translate: 0 9px;
}
.profilebox-container .pfp-frame {
  height: 42px;
  width: 42px;
  background-color: whitesmoke;
  margin-right: 5px;
  border-radius: 50%;
}
.profilebox-container p {
  max-width: 118px;
  overflow: hidden;
  color: var(--main-font-clr);
}

.logout-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.logout-link {
  cursor: pointer;
  max-height: 22px;
  text-decoration: none;
  display: block;
  color: var(--main-font-clr);
  margin: 0;
  padding: 0.75rem 1.25rem;
  border: 2px solid var(--clr-66);
  border-radius: 6px;
  background-color: var(--bg-post-25);
  width: 80px;
  text-align: center;
}
.logout-link:hover {
  border-color: var(--main-font-clr);
}

#navbar {
  z-index: 10;
  visibility: collapse;
  width: 100%;
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  align-items: center;
  top: 0;
  left: 0;
  background-color: var(--bg-post-25);
  display: flex;
  position: relative;
}
#navbar::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 69px;
  background-color: var(--clr-45);
}
#navbar .opensidebar-div {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
#navbar .opensidebar-div button {
  margin: 1rem;
  background: transparent;
  border: transparent;
  color: var(--main-font-clr);
  padding: 0.2rem;
}
#navbar .opensidebar-div button:hover {
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  .sidebar {
    visibility: collapse;
    min-width: 0px;
    max-width: 0px;
  }
  #navbar {
    visibility: visible;
  }
}/*# sourceMappingURL=App.css.map */